@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Quicksand:wght@300;400;500&family=Raleway:wght@300;400&family=Zen+Kaku+Gothic+New:wght@300&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.booking_successful_container{
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.booking_successful_img{
    width:100%;
}

.booking_successful_text{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

.footer_logo_container{
    position: absolute;
    bottom:10px;
}
.ecopark_logo{
    width:90%;
    float: right;
}